

<footer>
    
    <div class="f-outer">
        
        <div class="f-social">
            <a href="#">  <i class="fa-brands fa-instagram"></i></a>
                <a href="#">   <i class="fa-brands fa-facebook"></i></a>
                    <a href="#"> <i class="fa-brands fa-whatsapp"></i></a>
        </div>
        <div class="f-heading">&copy; AirHotel Private Limited</div>
        <div class="f-privacy">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>
    </div>
</footer>