

<% layout("/layout/boilerplate.ejs") %>

<body>
    
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Create new listing</h3>
    <form method="POST" action="/listings/new" novalidate class="needs-validation" enctype="multipart/form-data">

        <div class="mb-3 ">
            <label for="title" class="form-label">Title:</label>
            <input name="title" type="title" class="form-control" required placeholder="add attractive title" required>
            <div class="invalid-feedback">
              Please provide a Title.
            </div>
          </div>
          

          <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea name="description" type="text" class="form-control" required placeholder="type description"></textarea>
            <div class="invalid-feedback">
              Please provide a short Description.
            </div>
          </div>
          
          <!-- <div class="mb-3">
            <label for="image" class="form-label">Image:</label>
            <input name="image" type="text" class="form-control"  placeholder="URL/link for image">
            <div class="invalid-feedback">
              Please provide a valid URL/Link.
            </div>
          </div> -->
          
           <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input name="image" type="file" class="form-control"  />
            <div class="invalid-feedback">
              Please provide a valid URL/Link.
            </div>
          </div>

          <div class="row">
          <div class="md-3 col-md-4">
            <label for="price" class="form-label">Price:</label>
            <input name="price" type="number"  class="form-control" required  placeholder="how much it cost">
            <div class="invalid-feedback">
              Please provide a valid Price.
            </div>
          </div>
         
          <div class="md-3 col-md-8">
            <label for="location" class="form-label">Location:</label>
            <input name="location" type="text" class="form-control" required placeholder="type location">
            <div class="invalid-feedback">
              Please provide a valid Location.
            </div>
          </div>
         
        </div>
          <div class="mb-3">
            <label for="country" class="form-label">Country:</label>
            <input name="country" type="text" class="form-control" required placeholder="type country">
            <div class="invalid-feedback">
              Please provide a valid Country name.
            </div>
          </div>
         
        
        <button class="btn mt-3 mb-3">Add</button>
    </form>
</div>
</div>

</body>
